

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Nouvelle recette</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <a
    href="#" class="list-group-item clearfix"
    *ngFor="let uneRecette of recettes">

      <div class="pull-left">
        <h4 class="list-group-item-heading">{{uneRecette.nom}}</h4>
        <p class="list-group-item-text">{{uneRecette.description}}</p>
      </div>
      <span class="pull-right">
       <!-- src="{{uneRecette.cheminImage}}"  ou [src] = "uneRecette.cheminImage" est possible-->
        <img
        [src] = "uneRecette.cheminImage"
        alt="{{uneRecette.nom}}"
        class="img-responsive"
        style="max-height: 50px;" >
      </span>
    </a>

    <app-element-liste-recette></app-element-liste-recette>
  </div>
</div>
